/*Selector universal para calcular las dimensiones de los elementos HTML */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*Espacio entre letras*/
    /*letter-spacing: 2px;*/
    font-family: "Cinzel", serif;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
  }
  
  /*Bloque para establecer las variables*/
:root {
    /*Paleta de colores*/
    --azul: blue;
    --main-color: rgb(3, 37, 65);
    --navbar-color: rgba(3, 37, 65, 0.8);
    --card-color: rgba(3, 37, 65, 0.5);
    --movie-card-color: linear-gradient(to bottom right,
        #092c8c,
        #2045ad,
        #2f7bc7);
    --fondoAzuladoOscuro: linear-gradient(to bottom right,
        #03133f,
        #14285e,
        #203850);
    --fondoAzuladoClaro: linear-gradient(to bottom right,
        #092c8c,
        #2045ad,
        #31567b);
  
    --text-color: white;
  }
  
  
  /* Bloque de estilo para el cuerpo de la pagina */
  body {
    background: var(--fondoAzuladoOscuro);
  }
  
  
  /*---------- HEADER AND NAVBAR ---------*/
  /* Estilos para el encabezado */
  header {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    transition: 0.5s;
    background: var(--navbar-color);
  }
  
  /* Estilos para el logotipo */
  .logo {
    padding: 20px;
    width: 8%;
    height: 140%;
    border-radius: 40px;
    z-index: -6;
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    display: flex;
    column-gap: 5rem;
    list-style: none;
  }
  
  .navbar li {
    position: relative;
  }
  
  /* Estilos para los enlaces de navegación */
  .navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
  }
  
  /* Estilos para la línea de resaltado después del enlace */
  .navbar a::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--azul);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
  }
  
  /* Estilos al pasar el cursor sobre los enlaces o cuando están activos */
  .navbar a:hover::after,
  .navbar .home-active::after {
    width: 100%;
  }
  
  /* Estilos para el ícono del menú */
  #menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
  }
  
  /* Estilos para los botones */
  .btn {
    padding: 0.7rem 1.4rem;
    background-color: var(--navbar-color);
    color: var(--text-color);
    font-weight: 400;
    border-radius: 0.5rem;
  }
  
  /* Estilos al pasar el cursor sobre los botones */
  .btn:hover {
    background: #0056b3;
  }

.contenedor {
    margin-top: 130px;
    margin-bottom: 50px;
}

/*Bloques de estilos para el footer*/
footer {
    color: #fff;
    font-size: 0.9rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(4, 7, 22);
  }
  
  /*Bloque de estilo para la parte del lado izquierdo del footer*/
  .footer-izquierdo {
    display: flex;
    align-items: center;
  }
  
  /*Bloque de estilo para los iconos que se presentarán en la parte izquierda del footer*/
  .footer-izquierdo img {
    height: 40px;
    margin-right: 10px;
  }
  
  /*Bloque de estilo para el logotipo que se presenta en el footer*/
  .logotipo-footer {
    width: 50px;
    height: 50px;
    border-radius: 20px;
  }
  
  /*Bloque de estilo para los iconos de las redes sociales*/
  .social-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /*Bloque de estilo para la lista de los items, esto para dar formato a los iconos de las redes sociales*/
  .social-icons li {
    margin-right: 10px;
  }
  
  /*Bloque de estilo para las etiquetas anclas que están dentro de las etiquetas li*/
  .social-icons li a {
    color: #666;
    transition: all 0.2s ease-in-out;
  }
  
  /*Bloque de estilo para la parte derecha del footer*/
  .footer-derecho {
    text-align: right;
  }








/*-------Estilo duplicado------*/
/*ESTE ESTILO SE DEJARA HASTA EL FINAL. SERA DESCARTADO LUEGO DE UTILIZAR VISTAS*/
/*SOLO ESTARA HABILITADO EN UN PARTIALS COMUN PARA TODAS LAS VISTAS*/
/*STYLE PARA BOTON INFORMACION DE CUENTA DE USUARIO*/

/*SEARCHBAR STYLE*/
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar .btn {
  margin-left: 8px;
  padding: 8px 12px;
  background-color: var(--fondoAzuladoOscuro);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar .btn:hover {
  background-color: #0056b3;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f000;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.icon {
  color: white;
}

.button-content {
  display: flex;
  align-items: center;
}

.header {
  margin-right: 10px;
}

.title {
  font-weight: bold;
  color: white;
}

.account-info {
  color: white;
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  /* margin-right: 10px; */
  overflow: hidden;
  border-radius: 50%;
  margin-left: 36%;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.account-details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.category,
.email {
  margin-top: 2px;
}

.selected-indicator {
  display: flex;
  align-items: center;
}

.account-info {
  display: none;
}

.account-info.visible {
  display: block;
}

/* Despliegue hacia abajo */
.account-info {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--navbar-color);
  padding: 10px;
  animation: slideDown 0.3s ease forwards;
  border-radius: 0 0 20px 20px;
}

/*ESTILO PARA BOTON DE NOTIFICACIONES*/
.button-content {
  display: flex;
  align-items: center;
}

.notification-details {
  display: flex;
  flex-direction: column;
}

.notification-message {}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-content {
  display: none;
}

.notification-content.visible {
  display: block;
  margin-right: 9.2%;
}

.notification-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--navbar-color);
  padding: 10px;
  animation: slideDown 0.3s ease forwards;
  border-radius: 0 0 20px 20px;
}

/*SLIDEDOWN PARA BOTONES NOTIFICACIONES Y USUARIO*/

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}