/*Selector universal para calcular las dimensiones de los elementos HTML */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*Espacio entre letras*/
  /*letter-spacing: 2px;*/
  font-family: "Cinzel", serif;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/*Bloque para establecer las variables*/
:root {
  /*Paleta de colores*/
  --azul: blue;
  --main-color: rgb(3, 37, 65);
  --navbar-color: rgba(3, 37, 65, 0.8);
  --card-color: rgba(3, 37, 65, 0.5);
  --movie-card-color:linear-gradient(
    to bottom right,
    #092c8c,
    #2045ad,
    #2f7bc7
  );
  --fondoAzuladoOscuro: linear-gradient(
    to bottom right,
    #03133f,
    #14285e,
    #203850
  );
  --fondoAzuladoClaro: linear-gradient(
    to bottom right,
    #092c8c,
    #2045ad,
    #31567b
  );

  --text-color: white;
}

/*Bloque de estilo para el cuerpo de la pagina*/
body {
  background: var(--fondoAzuladoOscuro);
  color: var(--text-color);
}

/*---------- HEADER AND NAVBAR ---------*/
header {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  transition: 0.5s;
  background: var(--navbar-color);
}

.logo {
  padding: 20px;
  width: 8%;
  height: 140%;
  border-radius: 40px;
  z-index: -6;
}

.navbar {
  display: flex;
  column-gap: 5rem;
  list-style: none;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--azul);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

.btn {
  padding: 0.7rem 1.4rem;
  background: var(--fondoAzuladoOscuro);
  color: var(--text-color);
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--fondoAzuladoClaro);
}


/* MOVIE CARD INFORMATION */

.card-movie-info {
  background: var(--movie-card-color) ;
  margin: 75px;
  border-radius: 75px;
}

.movie-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-img {
  border-radius: 0 40px;
  max-width: 30%;
  height: auto;
}

.movie-info {
  margin-left: 20px;
}

/* Card movie info responsive Style */

@media screen and (max-width: 600px) {
  .card-movie-info {
    margin: 10px;
  }
  
  .card-img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .movie-card {
    flex-direction: column;
  }
  
  .movie-info {
    margin-left: 0;
    margin-top: 10px;
  }
}




/*Codigo para la sección*/
.comment-section {
  margin-top: 20px;
  margin: 75px;
  position: relative;
}

.comment-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.comment-section form {
  width: 100%;
  display: flex; /* Añade flexbox al formulario */
  flex-direction: column; /* Apila los elementos en columna */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #1E2747;
  color: white;
}

.form-group textarea {
  height: 120px;
}

.btn_comments {
  display: block;
  background: var(--fondoAzuladoClaro);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute; /* Añade posición absoluta */
  right: 0; /* Posiciona el botón en la parte derecha */
  margin-top: 155px;
}

.btn_comments:hover {
  background: #0056b3;
}

.titulo-contenedor-peliculas{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-style: bold;
  text-align: center;
}

/*Bloque de estilo para que muestren las peliculas principales en columnas*/
.contenedor-peliculas{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 15px;
  scroll-snap-type: x mandatory; /* Aplicamos el tipo de snap en x */
  scroll-behavior: smooth; /* Hace que el scroll se vea más suave */
  -ms-overflow-style: none;  /* Oculta la barra de scroll en navegadores Edge y IE */
  scrollbar-width: none;  /* Oculta la barra de scroll en Firefox */
}



/*Bloque de estilo para personalizar el fondo scroll bar*/
.contenedor-peliculas::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: transparent;
}

/*Bloque de estilo para personalizar el scroll bar*/
.contenedor-peliculas::-webkit-scrollbar-thumb {
  background-color: #000033;
  border-radius: 10px;
  border: 2px solid #000033;
}

/*Bloque de estilo para las columas donde van aparecer las peliculas*/
.pelicula{
  flex: 0 0 auto;
  margin-right: 20px;
  width: 25px;
  color: #fff;
  flex-basis: 12%;
  flex-grow: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Bloque de estilo para las imagenes de las peliculas*/
.pelicula img{
  width: 150px;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  border-radius: 8px;
}

/*Bloque de estilo para el titulo de cada pelicula*/
.pelicula h3{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;

}

/*Bloque de estilo para las fecha de estreno de cada pelicula*/
.pelicula p{
  font-size: 14px;
  line-height: 1.5;
}

/*Bloques de estilos para el footer*/
footer {
  color: #fff;
  font-size: 0.9rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(4, 7, 22);
}

.footer-izquierdo {
  display: flex;
  align-items: center;
}

.footer-izquierdo img {
  height: 40px;
  margin-right: 10px;
}

.logotipo-footer{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.social-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  color: #666;
  transition: all 0.2s ease-in-out;
}

.social-icons li a:hover {
  color: #333;
}

.footer-derecho {
  text-align: right;
}