/*Selector universal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*Espacio entre letras*/
  letter-spacing: 2px;
  font-family: "Cinzel", serif;
}

/*Bloque para establecer las variables*/
:root {
  --azul: blue;
  --fondoImagen: rgb(3, 37, 65);
  --fondoAzuladoOscuro: linear-gradient(
    to bottom right,
    #03133f,
    #14285e,
    #203850
  );
  --fondoAzuladoClaro: linear-gradient(
    to bottom right,
    #092c8c,
    #2045ad,
    #31567b
  );
}

/*Bloque de estilo para el cuerpo de la pagina*/
body {
  background: var(--fondoAzuladoOscuro);
}

/*Bloque de estilo para el contenedor de la barra de navegacion y de mas contneido dentro del body*/
.contenedor {
  width: 90%;
  margin: auto;
}

/*ESTILO PARA NAVBAR Y PAGINA PRESENTACION*/
/*Estilos para la etiqueta header*/
header {
  padding: 10px 0;
}

/*Estilos para el contenedor de la etiqueta header*/
header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Estilo para el logotipo de FilmVerse*/
header .logotipo {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

/*Estilos para las opciones de la barra de navegacion*/
header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

/*Bloque compuesto de estilos para darle efecto de sombreado a loas opciones de la barra de navegacion*/
header nav a:hover,
header nav a.activo {
  color: #fff;
}

/*----Zona de busqueda-----*/
.seccion-busqueda {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../imgs/sfjqJDmNqMIImO5khiddb9TARvO.jpg);
  background-position: center center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 10em;
}

.seccion-busqueda .encabezados {
  width: 85%;
  /* margin-top: 10px; */
  margin-left: 10%;
  /* margin-right: 75px; */
  margin-bottom: 15px;
}

.contenedor-busqueda {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}

.contenedor-busqueda input,
.contenedor-busqueda button {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}

.contenedor-busqueda input {
  background-color: #fff;
  border: 1px solid #a0a0a0;
  color: black;
  padding: 0.7em;
}

.contenedor-busqueda input:focus {
  border-color: #fff;
}

.contenedor-busqueda button {
  background: var(--fondoAzuladoClaro);
  border: none;
  cursor: pointer;
  color: white;
}
